.board {
  padding: 10px;
}

.all-columns {
  display: flex;
  margin: 10px;
  justify-content: center;
  padding: 20px;
}

.column {
  height: 650px;
  width: 250px;
  border: 1px solid black;
  border-radius: 5px;
  margin: 5px;
  padding: 10px;
}

.column-buttons {
  height: fit-content;
  padding: 10px;
  display: flex;
  justify-content: space-around;
}

.column-head {
  display: flex;
  height: fit-content;
  justify-content: center;
  flex-direction: row;
}

.column:hover {
  border: 1px solid white;
}

.column-title {
  text-align: center;
  font-size: large;
  border: none;
  font-weight: 600;
  cursor: pointer;
}

button {
  cursor: pointer;
}

input {
  cursor: pointer;
}

a {
  text-decoration: none;
  background: inherit;
  color: black;
}

/* Dropdown CSS */

.dropdown {
  display: block;
}

.dropdown-content{ 
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  font-size: 15px;
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  width: max-content;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  height: auto;
  border: solid 1px lightgray;
}

.dropdown:hover .dropdown-content {
  display: block;
  margin: 0;
  cursor: pointer; 
}

.drop-button-dots {
  color: #282c34;
  font-size: 14px;
  padding: 5px;
  display: flex;
  justify-content: flex-end;
}

.drop-button-dots:hover {
  cursor: pointer;  
}

.dropdown-content > li:hover {
  background-color: #efefef;
  margin: 0;
  cursor: pointer; 
}

.dropdown-options {
  cursor: pointer;
  box-sizing: border-box;
  direction: ltr;
  display: flex;
  -webkit-tap-highlight-color: transparent;
  align-items: center;
  padding: 8px 16px 8px 16px;
  font-size: 13px;
  color: #282829;
}