.card {
    background-color: slategrey;
    border-radius: 1%;
    height: fit-content;
    margin: 20px;
    padding: 10px;
}

.card-title {
    text-align: center;
    background-color: transparent;
    margin-bottom: 5px;
    border: none;
    color: white;
    font-size: large;
    cursor: pointer;
}

.card-title:focus {
    background-color: white;
    color: black;
}

.card-description {
    background-color: transparent;
    border: none;
    color: white;
}

.card-description:focus {
    background-color: white;
    color: black;    
}

::placeholder {
  color: white;
}